@model expense_tracker.Models.Category

@{
ViewData["Title"] = "Create Category";
}

<h1>Create</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <ejs-textbox id="title" placeholder="Enter Title" value="Title"></ejs-textbox>
    </div>
    <div class="form-group">
        <ejs-textarea id="description" name="Description" placeholder="Enter description" value="Description">
        </ejs-textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
