@model expense_tracker.Models.Category

@{
ViewData["Title"] = "Edit Category";
}

<h1>Edit</h1>
<form asp-action="Edit" method="post">
    <div class="mb-3">
        <ejs-textbox id="title" placeholder="Enter Title" ejs-for="Title" value="@Model.Title"
            floatLabelType="Always"></ejs-textbox>
    </div>
    <div class="mb-3">
        <ejs-textbox id="description" placeholder="Enter Description" ejs-for="Description" value="@Model.Description"
            floatLabelType="Always"></ejs-textbox>
    </div>
    <div class="mb-3">
        <ejs-radiobutton id="expense" label="Expense" ejs-for="Type" checked="@(Model.Type == " Expense")">
        </ejs-radiobutton>
        <ejs-radiobutton id="income" label="Income" ejs-for="Type" checked="@(Model.Type == " Income")">
        </ejs-radiobutton>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
