
@model List<expense_tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transacitons";
    ViewData["PageAcitonUrl"] = "/Transaction/AddOrEdit/";
    ViewData["PageAcitonText"] = "+ New Transaciton";
}

<div class='row'>
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" allowSorting="true" allowPaging="true">
            <e-grid-columns>
                <e-grid-column header="Transaction" field="CategoryId"></e-grid-column>
                <e-grid-column header="Type" field="Note"></e-grid-column>
                <e-grid-column header="Type" field="Date"></e-grid-column>
                <e-grid-column header="Action" template="#actionTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>

</div>

<script id="typeTemplate" type="text/x-template">
    ${if(Type=="Expense")}
        <span class="badge bg-success">${Type}</span>
    ${else}
        <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>

<script id="actionTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm" href="/Transaction/AddOrEdit/${Id}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Transaction/Delete/${Id}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(You sure)">
                <i class="fa-solid fa-trash fa-lg"></i>
            </button>
        </form>
    </div>
</script>
